
@{
    ViewData["Title"] = "Index";
}

<h1>Кем хотите стать?</h1>
<h5>Преподавателем pass: 123</h5>
<h5>Деканом pass: 456</h5>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <label>Пароль:</label><br />
            <input type="text" name="pass" />
            <br />
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>